@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@600&display=swap');

body {
	padding-top: 75px;
}

a.icon {
	text-decoration: none;
}

header {
	text-align: center;
	font-family: 'Encode Sans SC', sans-serif;
}

section {
	padding: 1% 0 4% 0;
}
.section-header {
	padding: 5%;
}
.section-header h1 {
	font-size: 3vw;
}
hr {
	border-top: 5px solid #E2DFDF;
	margin: 0;
}

/*================================*/
/* Navigation Bar */
/*================================*/
nav div ul li:hover {
	border-radius: 10px;
	background: #13334F ;
	transition: background 0.3s ease-in-out 0s;
}
.nav-link {
	font-size: 1.2rem;
}
.navbar a:hover span{
    color: white;
}


/*================================*/
/* Home */
/*================================*/
.home {
	padding: 3% 0 0 0;
	color: white;
	background:linear-gradient( rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8) ), url("../images/Background/bg9.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;
}
.home h1 {
	font-size: 5vw;
	padding: 7% 0 7% 0; 
}
.home p {
	font-size: 2.3vw;
	padding: 0 0 10% 0;
	margin: 0;
}

/*================================*/
/* Events */
/*================================*/
.events {
	background:linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../images/Background/bg4.jpg");
	color: white;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.events .card {
	border-style: solid;
	border-width: 4px;
	border-color: #0E5560;
	background: rgba(124, 241, 255, 0.9);
	color: #022B32;
	/*border-radius: 20px;*/
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.events .event-img {
	padding: 0;
}
.events .card-img {
	padding: 10%;
}
.events .card hr {
	border-top: 4px solid #0E5560;
	width: 50%;
	margin: 20px auto 20px;
}
.events .event-details {
	padding-top: 3%;
}
.events .event-description {
	padding: 0% 5% 0%;
}
.events .event-link {
	padding: 5%;
}
.events .event-link a{
	color: white;
	background-color: #2C95AB;
	border-style: none;
	text-align: center;
}

/*================================*/
/* Spnsors */
/*================================*/

.sponsors {
	background: url("../images/Background/bg7.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}

.sponsors img{
	width: 100%;
	padding: 0% 15% 10% 15%;
}
.sponsors a {
	color: #0A4459;
	text-decoration: none;
}

/*================================*/
/* Team members */
/*================================*/
.team {
	background:linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../images/Background/bg4.jpg");
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.team header {
	color: white;
}
.team .team-member {
	padding: 0 5% 5%;
}
.team .card {
	border-radius: 20px 20px 20px 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.team .card-body {
	padding: 10px;
}
.team .card-title {
	margin-bottom: 5px;
}
.team .card-text {
	font-size: 12px;
}
.team .member-image {
	position: relative;
	width: 100%;
	max-width: 400px;
}
.team .card-img-top, .overlay {
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
}
.team .overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 100%;
	width: 100%;
	opacity: 0;
	transition: .3s ease;
	background-color: rgba(0, 0, 0, 0.5);
}
.member-image:hover .overlay {
	opacity: 1;
}
.team .icon-list {
	list-style-type: none;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 100%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
	font-size: 20px;
	padding: 0;
	margin: 0;
}
.team ul.icon-list > li {
	display: inline;
	margin: 0 5px 0 5px;
}
.team-member .icon .fa {
	color: white;
	font-size: 40px;
}
.team-member .fa:hover {
	color: #4267B2;
}

/*================================*/
/* Contact */
/*================================*/
.contact {
	/*background-color: #A2C7E7;*/
	background-image: url("../images/Background/worldmap.jpg");
	background-repeat: no-repeat;
	background-size: 100% 100%;  
}
.contact .contact-info h4 {
	font-size: 1.5vw;
}
.contact .description {
	padding: 0 8% 5% 8%;
}
.contact .description-title {
	margin-bottom: 2%;
}
.contact .logo-img {
	width: 12%;
}
.contact .logo-text {
	width: 25%;
}
.contact-text {
	font-size: 1.5vw;
	margin: 0;
}
.contact .icon {
	font-size: 2.5vw;
	margin: 0 5px 0 5px;
}
/*.contact .fa-circle-thin {
	-webkit-text-stroke: 2px #A2C7E7;
}*/
.useful-links ul {
	list-style: none;
	padding: 0;
}
.useful-links a {
	color: black;
}
.useful-links a:hover {
	text-decoration: none;
	color: blue;
}
.contact-form .typeform-widget{
	padding: 0 5% 10% 5%;
}

/*================================*/
/* Footer */
/*================================*/
.footer {
	background: #EAE9E9;
}