@media screen and (max-width: 600px) {

/*================================*/
/* Properties irrespective of sections */
/*================================*/
.section-header h1 {
	font-size: 7vw;
}

/*================================*/
/* Home */
/*================================*/
.home h1 {
	font-size: 10vw;
}
.home p {
	font-size: 4vw;
}

/*================================*/
/* Events */
/*================================*/

.events .card-img {
	padding: 3%;
}
.events .card hr {
	border-top: 2px solid #0E5560;
	width: 50%;
	margin: 3% auto 3%;
}
.events .event-details h3 {
	font-size: 5vw;
}
.events .event-description {
	padding: 0% 2% 0% 2%;
	font-size: 3.5vw;
}
.events .event-link {
	padding: 5%;
}
.events .btn {
	font-size: 4vw;
}

/*================================*/
/* Sponsors */
/*================================*/
.sponsors .section-header p {
	font-size: 3.5vw;
}

/*================================*/
/* Contact */
/*================================*/
.contact .useful-links {
	padding: 5% 15% 0;
}
.contact .description-title {
	margin-bottom: 1%;
}
.contact .contact-info h4 {
	font-size: 5vw;
}
.contact-text {
	font-size: 5vw;
	margin: 0;
}
.contact .icon {
	font-size: 7vw;
	margin: 0 5px 0 5px;
}
.contact .useful-links h5 {
	font-size: 5vw;
}
.contact .useful-links li {
	font-size: 4vw;
}
.contact .contact-form {
	height: 200px;
}
.contact .typeform-widget {
	height: 100%;
	width: 100%;
}


}